<div class="container d-flex mt-5">
  <div class="card" style="width: 18rem">
    <img src="assets/img/aeronáutica.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Aeronáutica</p>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      src="assets/img/camisa_social.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Camisa Social</p>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img src="assets/img/camisa.jfif" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Camisa</p>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img src="assets/img/calça.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Calça</p>
    </div>
  </div>
</div>
